name: Sync upstream
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 */8 * * *"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          

      - name: sync
        id: sync
        shell: bash
        run: |
          git config --global user.name 'Qadry-000'
          git config --global user.email '176409209+Qadry-000@users.noreply.github.com'
          git remote add upstream https://github.com/rhunk/SnapEnhance
          git tag -d $(git tag -l)
          git fetch upstream --tags -f

          C=$(git rev-list --left-right --count origin/dev...remotes/upstream/dev | awk '{print$2}')
          echo "Ahead $C commits."

          if [ "$C" -gt 0 ]; then
            echo "Rebasing"
            git push origin
            git rebase -X ours upstream/dev
            git push --tags -f
            git push -f
          else
            echo "in sync"
          fi

      
